body{
    background-color: rgb(20, 36, 20);
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color:  rgb(20, 36, 20);
    margin-left: 33%;
    margin-top: 5px;

    
}

input{
    width: 270px;
    padding: 8px;
    border: 2px solid ;
    outline: none;
}

button{
    width: 60px;
    height: 35px;
    background-color: rgb(71, 68, 68);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 19px;


}
div h1{
    color: rgb(238, 230, 230);
}
.item ul{
    position: relative;
    background-color: rgb(71, 68, 68);
    color: white;
    font-size: 19px;
    text-align: left;
}

.item ul i{
   position: absolute; 
   right: 10px;
   cursor: pointer;

}

